@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto;  
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
    height: 20px;
    width: 75px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header,
footer{
    color: #F9FAF8;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    font-size: 24px;
}

.lower-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hook {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.hook-headline {
    font-size: 48px;
    font-weight: 800;
}

.hook-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    display: flex;
    flex-direction: column;
    flex:1;
    border: 1px solid red;
    background-color: gray;
    text-align: center;
    justify-content: center;
}

.random{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    gap: 20px;
    padding: 15px;
}

.random-headline {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
}

.gallery-item {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
}

.box {
    border-color: #3882F6;
    border-style: solid;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.quote,
.actual-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.quote {
 padding-top: 30px;
 padding-bottom: 30px;
 padding-right: 30vw;
}

.actual-quote {
    font-size: 36px;
    width: 500px;
    align-self: flex-end;
}

.attribution {
    font-weight: 900;
    font-style: normal;
    align-self: flex-end;
}

.call {
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.action-box {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action {
    font-size: 24px;
    font-weight: 900;
}

footer {
    text-align: center;
    padding: 10px;
}